h1 {
	font-family: 'Open Sans';
	font-size: 36px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
h3 {
	font-family: 'Open Sans';
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 15.4px;
}
a {
    color: #005691;
    text-decoration: none;

}

a:hover {
    color: #23527c;
    text-decoration: underline;
}

#titleText {
    color: black;
    text-decoration: none;
}

#titleText:hover {
    color: black;
    text-decoration: none;
}

#viewButton {
    display: block;
    margin: auto;
}
