#introSvg {
    width: auto;
    height: 70vh;
    display: block;
    margin: auto;
    overflow:visible;
    border: 3px solid #bfc0c2
}

.tooltip {
    pointer-events:none;
    opacity:0;
    transition: opacity 0.5s;
    background: white;
    border:solid darkgray;
    position: absolute;
    max-width: 16em;
    text-align:center;
    padding: 0.5em;
}

#setupSvg {
    height: 70vh;
    display: block;
    margin: auto;
}
